<div>
	<h2>Αναφορά <small>{{currentReport.title}}</small></h2>
	<div class="jumbotron">
		<div class="container">
			<form class="form-inline" ng-submit="showReport()">
				<div class="form-group" ng-if="currentReport.id==0">
					<label>Ημέρα: </label>
					<div class="input-group">
					    <input type="text" class="form-control" datetime-picker="dd/MM/yyyy" ng-model="params.reportFrom" is-open="isOpen1" enable-time="false" />
					    <span class="input-group-btn"><button type="button" class="btn btn-default" ng-click="isOpen1=!isOpen1"><i class="glyphicon glyphicon-time"></i></button></span>
					</div>
				</div>
				<div class="form-group" ng-if="currentReport.id==1">
				    <label>Μήνας: </label>
				    <div class="input-group">
					    <input type="text" class="form-control" datetime-picker="MM/yyyy" datepicker-options="monthOpts" ng-model="params.reportFrom" is-open="isOpen1" enable-time="false" />
					    <span class="input-group-btn"><button type="button" class="btn btn-default" ng-click="isOpen1=!isOpen1"><i class="glyphicon glyphicon-time"></i></button></span>
					</div>
				</div>
				<div class="form-group" ng-if="currentReport.id==2">
				    <label>Έτος: </label>
				    <div class="input-group">
					    <input type="text" class="form-control" datetime-picker="yyyy" datepicker-options="yearOpts" ng-model="params.reportFrom" is-open="isOpen1" enable-time="false" />
					    <span class="input-group-btn"><button type="button" class="btn btn-default" ng-click="isOpen1=!isOpen1"><i class="glyphicon glyphicon-time"></i></button></span>
					</div>
				</div>
				<div class="form-group" ng-if="currentReport.id==4">
				    <label>Από: </label>
				    <div class="input-group">
					    <input type="text" class="form-control" datetime-picker="dd/MM/yyyy HH:mm" ng-model="params.reportFrom" is-open="isOpen1" timepicker-options="{showMeridian:false}" />
					    <span class="input-group-btn"><button type="button" class="btn btn-default" ng-click="isOpen1=!isOpen1"><i class="glyphicon glyphicon-time"></i></button></span>
					</div>
				</div>
				<div class="form-group" ng-if="currentReport.id==4">
				    <label>Έως: </label>
				    <div class="input-group">
					    <input type="text" class="form-control" datetime-picker="dd/MM/yyyy HH:mm" ng-model="params.reportTo" is-open="isOpen2" timepicker-options="{showMeridian:false}" />
					    <span class="input-group-btn"><button type="button" class="btn btn-default" ng-click="isOpen2=!isOpen2"><i class="glyphicon glyphicon-time"></i></button></span>
					</div>
				</div>
				<div class="form-group" ng-if="currentReport.id==3">
				    <label>Από: </label>
				    <div class="input-group">
					    <input type="text" class="form-control" datetime-picker="dd/MM/yyyy" ng-model="params.reportFrom" is-open="isOpen1" enable-time="false" />
					    <span class="input-group-btn"><button type="button" class="btn btn-default" ng-click="isOpen1=!isOpen1"><i class="glyphicon glyphicon-time"></i></button></span>
					</div>
				</div>
				<div class="form-group" ng-if="currentReport.id==3">
				    <label>Έως: </label>
				    <div class="input-group">
					    <input type="text" class="form-control" datetime-picker="dd/MM/yyyy" ng-model="params.reportTo" is-open="isOpen2" enable-time="false" />
					    <span class="input-group-btn"><button type="button" class="btn btn-default" ng-click="isOpen2=!isOpen2"><i class="glyphicon glyphicon-time"></i></button></span>
					</div>
				</div>
				<div class="form-group">
					<label>Pillar: </label>
					<select class="form-control" ng-model="params.area">
						<option ng-repeat="a in areas" value="{{a.id}}">{{a.title}}</option>
					</select>
				</div>
			  	<button type="submit" class="btn btn-electro">Αποτελέσματα</button>
			</form>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2" ng-if="currentReport.id!=4">
				<div class="panel panel-default" ng-show="show.data">
					<div class="panel-body">
				    	<canvas id="base" class="chart-base" chart-type="type" chart-data="data" chart-labels="labels" chart-series="series" chart-options="options"></canvas>
				  	</div>
				  	<div class="panel-footer"><button type="submit" class="btn btn-sm btn-electro" ng-show="data.length>0" ng-click="toggle()">Αλλαγή αναπαράστασης</button></div>
				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<p class="text-danger text-center" ng-show="show.msg">Δεν υπάρχουν δεδομένα γι'αυτή την αναφορά</p>
			<div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2" ng-class="currentReport.id==4?'col-lg-offset-3':''" ng-if="show.data"  ng-switch on="currentReport.id">
				<div class="table-responsive">
					<table class="table table-striped table-hover table-condensed">
						<thead>
                            <tr ng-switch-when="4">
                            	<th></th>
                            	<th>Ημερομηνία</th>
                                <th>Τύπος</th>
                                <th>Κατάσταση</th>
                            </tr>
                            <tr ng-switch-when="0">
                            	<th class="text-danger">Time</th>
                                <th ng-repeat="l in labels">{{l}}</th>
                            </tr>
                            <tr ng-switch-when="3">
                            	<th class="text-danger">Time</th>
                                <th ng-repeat="l in labels">{{l}}</th>
                            </tr>
                            <tr ng-switch-default>
                            	<th class="text-danger">Time</th>
                                <th ng-repeat="l in labels">{{l}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="d in data1 track by $index" ng-switch-when="4">
                            	<td>{{$index+1}}</td>
                            	<td>{{d[0] | fDate: 'dd/MM/yyyy HH:mm'}}</td>
                            	<td>
                            		<span ng-show="d[1]==1">Χειροκίνητη αλλαγή</span>
                        			<span ng-show="d[1]==2">Αλλαγή κατάστασης</span>
                            		<span ng-show="d[1]==3">Ειδοποίηση</span>
                            	</td>
                        		<td>
                        			<span class="badge badge-default" ng-show="d[2]==0">-</span>
                        			<span class="badge badge-success" ng-show="d[2]==1">ON</span>
                        			<span class="badge badge-danger" ng-show="d[2]==2">OFF</span>
                        		</td>
                            </tr>
                            <tr ng-switch-when="3" ng-repeat="d in data" ng-init="apperIndex = $index">
                            	<td class="text-danger">{{series[apperIndex]}}</td>
                                <td ng-repeat="x in d track by $index">{{x}}</td>
                            </tr>
                            <tr ng-switch-when="3">
                            	<td class="text-danger">Απώλεια</td>
                            	<td ng-repeat="d in data[0] track by $index">{{d-data[1][$index]}}</td>
                            </tr>
                            <tr ng-switch-when="0">
                            	<td class="text-danger">kWh</td>
                                <td ng-repeat="d in data[0] track by $index">
                                	<span ng-show="$index<12">{{d}}</span>
                                	<span ng-show="$index>=12">{{data[1][$index]}}</span>
                                </td>
                            </tr>
                            <tr ng-switch-default>
                            	<td class="text-danger">kWh</td>
                                <td ng-repeat="d in data[0] track by $index">{{d}}</td>
                            </tr>
                        </tbody>
					</table>
				</div>
				<br>
				<p class="text-center text-primary" ng-switch-when="3"></p>
				<p class="text-center text-primary" ng-switch-when="4">Συνολικός αριθμός συμβάντων: {{data1.length}}</p>
				<p class="text-center text-primary" ng-switch-default>Συνολική κατανάλωση: {{total}} kWh</p>
			</div>
			<span us-spinner spinner-theme="crimsoNice" spinner-on="show.spin"></span>
		</div>
	</div>
</div>